<%# Logic: We determine the submission URL dynamically.  If it's new, post to the list (create). If existing, post to the item (update)%>
<% url = facility.new_record? ? facilities_path(slug: @current_organization.slug) : facility_path(facility, slug: @current_organization.slug) %>

<%= form_with(model: facility, url: url, class: "contents") do |form| %>
  <% if facility.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul class="list-disc ml-6">
        <% facility.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "block font-bold text-gray-900" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full focus:border-blue-600 focus:ring-1 focus:ring-blue-600" %>
  </div>

  <div class="my-5">
    <%= form.label :phone, class: "block font-bold text-gray-900" %>
    <%= form.text_field :phone, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full focus:border-blue-600 focus:ring-1 focus:ring-blue-600" %>
  </div>

  <div class="my-5">
    <%= form.label :address, class: "block font-bold text-gray-900" %>
    <%= form.textarea :address, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full focus:border-blue-600 focus:ring-1 focus:ring-blue-600" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>