<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-base font-semibold leading-6 text-gray-900">Procedures & CPT Codes</h1>
    <p class="mt-2 text-sm text-gray-700">A list of all billable procedures available for this practice.</p>
  </div>
  <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    <%= link_to "Add Procedure", new_procedure_path, 
      class: %w[
        block rounded-md bg-indigo-600 px-3 py-2 
        text-center text-sm font-semibold text-white shadow-sm 
        hover:bg-indigo-500 
        focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
      ].join(" ")
    %>
  </div>
</div>

<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Code</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Description</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Price</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @procedures.each do |procedure| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= procedure.code %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= procedure.name %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= number_to_currency(procedure.price) %></td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <%= link_to "Edit", edit_procedure_path(procedure), 
                    class: "text-indigo-600 hover:text-indigo-900 mr-4"
                  %>
                  <%= button_to "Delete", 
                    procedure_path(procedure), 
                    method: :delete, 
                    class: "text-red-600 hover:text-red-900 bg-transparent border-0 cursor-pointer inline p-0 font-medium", 
                    form: {
                            style: "display:inline"
                          }, 
                    data: { 
                            turbo_confirm: "Are you sure?" 
                          } 
                  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>