<div id="<%= dom_id appointment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Patient:</strong>
    <%= appointment.patient_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Provider:</strong>
    <%= appointment.provider_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= appointment.organization_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= appointment.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End time:</strong>
    <%= appointment.end_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= appointment.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Reason:</strong>
    <%= appointment.reason %>
  </div>
</div>
